<header class="header">

  <nav class="menu" id="menu">
    <ul class="menu-list">
      <li class="menu-item"><span class="menu-link" id="section1Btn">Chi siamo</span></li>
      <li class="menu-item"><span class="menu-link" id="section2Btn">Postazioni PC</span></li>
      <li class="menu-item"><span class="menu-link" id="section3Btn">Postazioni console</span></li>
      <li class="menu-item"><span class="menu-link" id="section4Btn">Giochi da tavolo</span></li>
      <li class="menu-item"><span class="menu-link" id="section5Btn">Giochi di ruolo</span></li>
      <li class="menu-item">
        <span class="menu-link" id="section6Btn">Contatti</span>
      </li>
    </ul>
  </nav>

</header>
