@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');
@import "../node_modules/purecss/build/base.css";
@import "../node_modules/purecss/build/grids-core.css";
@import "../node_modules/purecss/build/grids-responsive.css";

/* custom properties */
:root {
  --fontSize: 2rem;
  --mainColor: #FFFFFF;
  --bgColor: #000000;
  --highlightColor: #FF6600;
  --headerHeight: 3rem;
}

/* custom properties set & @apply rule */
:root {
  --centered: {
    display: flex;
    align-items: center;
    justify-content: center;
  };
}

/* custom media queries */
@custom-media --viewport-medium (width <= 1020px);

html {
  height: 100%;
}
/* some var() & calc() */
body {
  all: initial;
  color: var(--mainColor);
  font-family: 'Ubuntu', sans-serif;
  font-size: var(--fontSize);
  line-height: calc(var(--fontSize) * 1.4);
  height: 100%;
}

html,body {

}

p {
  margin:0;
  padding:0;
}

a {
  color: var(--mainColor);
  font-weight: 700;
  text-decoration: none;
}

.main {
  height: 100vh;
  position: relative;

  header {
    height: var(--headerHeight) ;
    width: 100%;
    display: block;
    z-index: 100;
    top: 0;
    position: fixed;
    background-color: var(--bgColor);


    .title-bar {
      height: 100%;
      display: block;
      overflow: hidden;
      text-transform: uppercase;
      background-color: var(--bgColor);
      padding: 0;
      box-sizing: content;

      .logo {
        display: inline-block;
        float: left;
        position: relative;
        height: 2.7em;
        width: 2.7em;
      }

      .title {
        display: block;
        font-size: calc(var(--fontSize) * 2);
        line-height: calc(var(--fontSize) * 1.6);
        white-space: nowrap;
      }

      .subtitle {
        display: block;
        color: var(--highlightColor);
        font-size: calc(var(--fontSize) * 1.1);
        line-height: calc(var(--fontSize) * 1);
        padding-top: calc(var(--fontSize) * 0.2);
        white-space: nowrap;
      }
    }

    .burger-button {
      position: fixed;
      top: 0;
      right: 0;
      display: none;
      @media (--viewport-medium) {
        display: block;
      }
      .bar {
        background-color: #777;
        display: block;
        width: 3rem;
        height: .2rem;
        border-radius: 100px;
        position: absolute;
        top: 1.3rem;
        right: .5rem;
        transition: all 0.5s;
        &:nth-child(1) {
          transform: translateY(-.7rem);
        }
        &:nth-child(3) {
          transform: translateY(.7rem);
        }
      }
      &.x {
        .bar:nth-child(1) {
          transform: rotate(45deg);
        }
        .bar:nth-child(2) {
          transform: rotate(-45deg);
        }
        .bar:nth-child(3) {
          opacity: 0;
          transition: opacity .3s ease;
        }
      }
    }

    .menu {
      display: block;
      clear: both;
      height: var(--headerHeight);
      background-color: color(var(--bgColor));
      position: fixed;
      width: 100%;
      top: 0;
      text-align: center;

      @media (--viewport-medium) {
        opacity: 0;
        transition: opacity .3s ease, visibility 0s ease .3s;
        &.open {
          opacity: 1;
          visibility: visible;
          transition: opacity .3s ease;
        }
      }
      .menu-list {
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: var(--bgColor);
        .menu-item {
          display: inline-block;
          margin-right: 1rem;
          @media (--viewport-medium) {
            display: block;
          }
          .menu-link {
            text-transform: uppercase;
            text-decoration: none;
            font-size: .6em;
            font-weight: 700;
            color: color( var(--mainColor) lightness(90%) );
            &:hover,&:active, &.active {
              color: color( var(--highlightColor) lightness(80%));
              transition: color .3s ease;
              cursor: pointer;
            }
            &.active {
              color: color( var(--highlightColor));
            }
          }
        }
      }
    }
  }

  .sections-container {
    clear: both;
    position: relative;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    text-shadow: 0 0 1em #d06bff, 0 0 1.2em #d06bff, 0 0 0.1em #f2d5ff;

    .section {
      position: relative;
      margin: 0;
      box-sizing: border-box;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      &:after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right,#0e6ba3,#c617a4);
        opacity: .6;
        z-index: 1;
      }

      .section-title {
        position: relative;
        width: 100%;
        text-align: center;
        top: 20%;
        text-transform: uppercase;
        margin: 0 auto;
        z-index: 10;

      }

      &:hover {
        .section-title {
          transition: opacity .3s ease;
          opacity: 1;
        }
      }

      img {
        width: 100%;
        min-width: 400px;
        height: auto;
        min-height: 400px;
      }
      .contents {
        z-index: 10;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 80%;
        height: 70%;
        margin: auto;
        display: table;
        p {
          text-align: center;
          font-size: 130%;
          line-height: 110%;
          display: table-cell;
          vertical-align: middle;
          width: 70%;
          @media (--viewport-medium) {
            font-size: 90%;
            a {
              font-size: 70%;
            }
          }
        }
      }
    }
  }
}

.illustration {
  overflow-x: hidden;
  overflow-y: initial;
  position: relative;
  .section-container {
    flex-direction: column;
    &:hover {
      cursor: pointer;
    }
    .image {
      width: 100%;
      height: auto;
      max-height: initial;
      margin:0 auto;


      img {
        width: 100%;
        min-width: initial;
        min-height: initial;
        height: auto;
        pointer-events: initial;
      }
    }
    .contents {
      width: 98vw;
      height: auto;
      padding: 0 0 0 .5em;
    }
  }
}

footer {
  clear: both;
}
