@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');
@import "../node_modules/purecss/build/base.css";
@import "../node_modules/purecss/build/grids-core.css";
@import "../node_modules/purecss/build/grids-responsive.css";

/* custom properties */
:root {
  --fontSize: 2rem;
  --mainColor: #FFFFFF;
  --bgColor: #000000;
  --highlightColor: #FF6600;
  --headerHeight: 3rem;
}

/* custom properties set & @apply rule */
:root {
  --centered: {
    display: flex;
    align-items: center;
    justify-content: center;
  };
}

/* custom media queries */
@custom-media --viewport-medium (width <= 1235px);

html {
  height: 100%;
}
/* some var() & calc() */
body {
  all: initial;
  color: var(--mainColor);
  font-family: 'Ubuntu', sans-serif;
  font-size: var(--fontSize);
  line-height: calc(var(--fontSize) * 1.4);
  height: 100%;
}


p {
  margin:0;
  padding:0;
}

a {
  color: var(--mainColor);
  font-weight: 700;
  text-decoration: none;
}



.main {
  height: 100vh;
  position: relative;

  header {
    height: var(--headerHeight) ;
    width: 100%;
    display: block;
    z-index: 50;
    top: 0;
    position: fixed;
    background-color: var(--bgColor);

    .brand {
      position: relative;
      float: left;
    }

    .logotype {
      width: auto;
      height: 28px;
      margin: 0.3em;
      z-index: 150;
    }


    .burger-button {
      position: fixed;
      display: block;
      top: 0;
      right: 0;
      display: none;
      background-color: var(--bgColor);
      width: 3rem;
      height: 2.5rem;
      margin: .2rem .5rem;
      &:hover {
        cursor: pointer;
      }
      @media (--viewport-medium) {
        display: block;
      }
      .bar {
        background-color: #777;
        display: block;
        width: 3rem;
        height: .2rem;
        border-radius: 100px;
        position: absolute;
        top: 1.3rem;
        transition: all 0.5s;
        &:nth-child(1) {
          transform: translateY(-.7rem);
        }
        &:nth-child(3) {
          transform: translateY(.7rem);
        }
      }
      &.x {
        .bar:nth-child(1) {
          transform: rotate(45deg);
        }
        .bar:nth-child(2) {
          transform: rotate(-45deg);
        }
        .bar:nth-child(3) {
          opacity: 0;
          transition: opacity .3s ease;
        }
      }
    }

    .menu {
      display: block;
      clear: both;
      height: var(--headerHeight);
      background-color: color(var(--bgColor));
      position: fixed;
      width: 100%;
      top: 0;
      text-align: center;

      @media (--viewport-medium) {
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s ease, visibility 0s ease .3s;
        &.open {
          opacity: 1;
          visibility: visible;
          transition: opacity .3s ease;
        }
      }
      .menu-list {
        left: 2.7em;
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: var(--bgColor);
        .menu-item {
          display: inline-block;
          margin-right: 1rem;
          @media (--viewport-medium) {
            display: block;
          }
          .menu-link {
            text-transform: uppercase;
            text-decoration: none;
            font-size: .6em;
            font-weight: 700;
            color: color( var(--mainColor) lightness(90%) );
            &:hover,&:active, &.active {
              color: color( var(--highlightColor) lightness(80%));
              transition: color .3s ease;
              cursor: pointer;
            }
            &.active {
              color: color( var(--highlightColor));
            }
          }
        }
      }
    }
  }

  .sections-container {
    clear: both;
    position: relative;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    text-shadow: 0 0 1em #d06bff, 0 0 1.2em #d06bff, 0 0 0.1em #f2d5ff;

    .section {
      position: relative;
      margin: 0;
      box-sizing: border-box;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      @media (--viewport-medium) {
        background-position: 50% 0;
      }
      &:after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right,#0e6ba3,#c617a4);
        opacity: .6;
        z-index: 1;
      }

      .section-title {
        font-size: 2em;
        position: relative;
        text-transform: uppercase;
        margin: 0;
        text-align: center;
        z-index: 10;
        @media (--viewport-medium) {
          font-size: 1.2em;
        }
      }

      .contents {
        z-index: 10;
        position: relative;;
        top: 1em;
        padding: 0 .3em;

        @media (--viewport-medium) {
          top: .5em;
        }
        p {
          top: 1em;
          position: relative;
          text-align: center;
          font-size: 1.2em;
          line-height: 1.2em;
          @media (--viewport-medium) {
            font-size: .7em;
            a {
              font-size: .7em;
            }
          }
        }

      }

      i.arrow {
        border: solid white;
        border-width: 0 1vh 1vh 0;
        display: inline-block;
        padding: 2.5vh;
        z-index: 10;
        position: absolute;
        bottom: 10vh;
        left: 50%;
        margin-left: -3vh;
        &:hover {
          cursor: pointer;
        }
        &.down {
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }
      }

      &:first-child {
        .contents {
          top: 2em;
        }
      }

      &:last-child {
        i.arrow {
          display: none;
        }
      }

    }
  }
}

footer {
  clear: both;
}
